.section_narrow {
  margin-left: 100px;
  margin-right: 100px;
}

@media screen and (max-width: 1024px) {
  .section_narrow {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .section_narrow {
    margin-right: 24px;
    margin-left: 24px;
  }
}