.header__content {
  display: flex;
  justify-content: space-between;
  max-width: 984px;
  margin: 0 auto;
  align-items: baseline;
}

@media screen and (max-width: 320px) {
  .header__content {
    align-items: center;
  }
}