@import url('./__copyright/footer__copyright.css');
@import url('./__list-item/footer__list-item.css');
@import url('./__menu-link/footer__menu-link.css');
@import url('./__menu/footer__menu.css');

.footer {
  padding: 92px 0 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: calc(100% - 96px);
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 48px);
    padding-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-top: 64px;
    flex-direction: column;
    align-items: flex-start;
  }
}