.place__url-heading {
  margin: 0 0 12px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #aaa;
}

@media screen and (max-width: 320px) {
  .place__url-heading {
    display: none;
  }
}